@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: dongle;
  background: #000000;
}
.nav {
  height: 8vh;
  background-color: #36454f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav h1 {
  color: #fff;
  font-size: 3rem;
}

.color {
  /* display: flex;
  align-items: center;
  display: flex;
  height: 92vh;
  justify-content: center; */
  background-color: #000;
  font-size: 2.5rem;
  position: absolute;
  top: 46vh;
  left: 50%;
  color: #fff;
  border-radius: 20px;
  transform: translate(-50%, 50%);
  padding: 0.75rem;
}
.flipper {
  position: absolute;
  right: 0;
  top: 0;
  width: 8vh;
  height: 8vh;
  font-size: 1.5rem;
  padding: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
}
i {
  pointer-events: none;
}
.container {
}
